.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-secundaria);
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
}

.pLogo{
  font-family: Lobster, sans-serif;
  font-size: 30px;
  color: var(--cor-principal);
}

.menu {
  display: flex;
  gap: 10px;
}

.lista {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.lista li {
  font-size: 16px;
}

.lista li a {
  text-decoration: none;
  color: red;
  transition: color 0.3s;
}

.lista li a:hover {
  color: var(--cor-hover);
}

.abrirMenu {
  display: none;
  background: none;
  border: none;
  color: var(--cor-texto);
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease;
}

@media (max-width: 600px) {
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--cor-secundaria);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .menu.aberto {
    transform: translateY(0);
  }

  .abrirMenu {
    display: block;
    z-index: 2000;
  }

  .lista {
    flex-direction: row;
    gap: 30px;
  }

  .lista li {
    font-size: 18px;
  }

  .abrirMenu {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .abrirMenu.aberto {
    transform: rotate(180deg);
  }
}